In [2]:
import pandas as pd
import numpy as np

In [3]:
credits = pd.read_csv("Dataset/tmdb_5000_credits.csv")

In [4]:
movies_df = pd.read_csv("Dataset/tmdb_5000_movies.csv")

In [5]:
credits.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [6]:
movies_df.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [7]:
credits_renamed = credits.rename(index=str, columns={"movie_id": "id"})
movies_df_merge = movies_df.merge(credits_renamed, on="id")

In [8]:
movies_df_merge.head(5)

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

In [9]:
movies = movies_df_merge.drop(columns=["homepage", "title_x", 'title_y', 'status', 'production_companies'])
movies.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 18 columns]

In [10]:
movies.info()

<class 'pandas.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   str
 2   id                    4803 non-null   int64
 3   keywords              4803 non-null   str
 4   original_language     4803 non-null   str
 5   original_title        4803 non-null   str
 6   overview              4800 non-null   str
 7   popularity            4803 non-null   float64
 8   production_countries  4803 non-null   str
 9   release_date          4802 non-null   str
 10  revenue               4803 non-null   int64
 11  runtime               4801 non-null   float64
 12  spoken_languages      4803 non-null   str
 13  tagline               3959 non-null   str
 14  vote_average          4803 non-null   float64
 15  vote_count            4803 non-null   int64
 16  cast                  4803 non-null   str
 17  crew                  4803 non-null   str
dtypes: float64(3), int64(4), str(11)
memory usage: 675.6 KB

W = (Rv + Cm)/v+m.   
W = weighted Rating
R= average for the movie as a number from 0 to 10(mean) = (Rating)
v= number of votes for thr movie = (votes)
m=minimum votes required to be listed in the top 250(currently 3000)
C= the mean vote across the whole report (currently 6.9)

In [11]:
v=movies['vote_count']
R=movies['vote_average']
C=movies['vote_average'].mean()
m=movies['vote_count'].quantile(0.7)

In [12]:
movies['weighted_average']= (R*v) + (C*m) / (v + m)

In [13]:
movies_sorted = movies.sort_values('weighted_average', ascending=True)
movies_sorted.head()

      budget  ... weighted_average
4400       0  ...         6.081704
4769       0  ...         6.092172
4708       0  ...         6.092172
4794       0  ...         6.092172
4716       0  ...         6.092172

[5 rows x 19 columns]

In [14]:
movies_sorted[['original_title', 'vote_count', 'vote_average', 'weighted_average', 'popularity']].head(20)

                                         original_title  ...  popularity
4400                                           Sparkler  ...    0.547654
4769                            The Legend of God's Gun  ...    0.003582
4708                                     Heroes of Dirt  ...    0.076647
4794                       Sanctuary: Quite a Conundrum  ...    0.166513
4716  The Blood of My Brother: A Story of Death in Iraq  ...    0.005256
4714                           An American in Hollywood  ...    0.015697
4729                               Dude Where's My Dog?  ...    0.283970
4710                          Antarctic Edge: 70° South  ...    0.021392
4699                                      Lumea e a mea  ...    0.327622
4721                             The Work and The Story  ...    0.002388
4692                                Theresa Is a Mother  ...    0.036532
4694                             Archaeology of a Woman  ...    0.254659
4698                                     Butterfly Girl  ...    0.015189
4657                                          UnDivided  ...    0.010607
4140                        To Be Frank, Sinatra at 100  ...    0.050625
4118                             Hum To Mohabbat Karega  ...    0.001186
4065                                         Mi America  ...    0.039007
3852                                         The Secret  ...    0.042346
4665                                   Western Religion  ...    0.589540
4660                                    Give Me Shelter  ...    0.278981

[20 rows x 5 columns]

In [15]:
movies.head()

      budget  ... weighted_average
0  237000000  ...     84960.285886
1  300000000  ...     31050.696625
2  245000000  ...     28136.501318
3  250000000  ...     69205.965392
4  260000000  ...     12957.708522

[5 rows x 19 columns]

In [17]:
from sklearn.preprocessing import MinMaxScaler

scaling=MinMaxScaler()
movie_scaled = scaling.fit_transform(movies[['weighted_average', 'popularity']])
movie_normalized = pd.DataFrame(movie_scaled, columns=['Weighted_average', 'popularity'])
movie_normalized.head()

   Weighted_average  popularity
0          0.762705    0.171815
1          0.278714    0.158846
2          0.252550    0.122635
3          0.621265    0.128272
4          0.116278    0.050169

In [18]:
movies[['weighted_average', 'popularity']] = movie_normalized